
@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), url("../fonts/OpenSans/OpenSans-Light-webfont.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: local('Open Sans Semibold'), url("../fonts/OpenSans/OpenSans-Semibold-webfont.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html, body, #app-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: opacity 0.5s;
}

a {
  cursor: pointer;
}

/* fade-transition */

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
